SITE_TITLE=seguimiento_academico

# Base de datos
DB_PROVIDER=mysql
DB_SERVER=127.0.0.1
DB_USER=
DB_PSWD=
DB_DATABASE=
DB_PORT=3306

# Correo SMTP
SMTP_HOST=
SMTP_USER=
SMTP_SECRET=
SMTP_PORT=587

# Configuración general
TIMEZONE=America/Tegucigalpa
PWD_HASH=YOUR_SECRET_KEY_HERE

DEVELOPMENT=1

USE_URLREWRITE=0

# Cambiar BASE_DIR por el nombre de la carpeta donde se aloja el proyecto.
BASE_DIR=/NOMBRE_DE_LA_CARPETA_DEL_PROYECTO/

PRIVATE_LAYOUT=privatelayout
PUBLIC_DEFAULT_CONTROLLER=Products_ProductoController
PRIVATE_DEFAULT_CONTROLLER=Products_ProductoController

# Font Awesome Kit
FONT_AWESOME_KIT=

# PixelPay
PIXELPAY_KEY=
PIXELPAY_SECRET=
PIXELPAY_ENV=DEV
PIXELPAY_URL=

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_CLIENT_ENV=DEV